<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Block to add TITLE of page-->
    <!--Need not to add <title> tag-->
    <title>
        {% block title %}{% endblock title %}
    </title>

    {% load static %}
    <!--bootstrap CSS file links-->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--Fontswesome CSS file links-->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/fontawesome.min.css' %}">

    <!--block to add internal CSS or Links -->
    <!--Need to add <style> tage while adding inernal CSS-->
    {% block css %}{% endblock css %}
</head>
<body>
    <!--Block to add content of body-->
    {% block body %}{% endblock body %}

    <!--jQuery CDN links-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <!--bootstrap JS file link-->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--fontawesome JS file link-->
    <script src="{% static 'vendor/fontawesome/js/all.min.js' %}"></script>
    <script src="{% static 'vendor/fontawesome/js/fontawesome.min.js' %}"></script>

    <!--Block to add inernal JS or Links-->
    <!--Need to add <script> tag while adding internal JS-->
    {% block js %}{% endblock js %}
</body>
</html>