{% extends 'base.html' %}

<!--setting title for page-->
{% block title %}
Insert
{% endblock title %}

<!--styl for form-->
{% block css%}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

    *,
    body {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
    }

    html,
    body {
        height: 100%;
        background-color: #152733;
        overflow: hidden;
    }


    .form-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }

    .form-holder .form-content {
        position: relative;
        text-align: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        padding: 60px;
    }

    .form-content .form-items {
        border: 3px solid #fff;
        padding: 40px;
        display: inline-block;
        width: 100%;
        min-width: 540px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        text-align: left;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .form-content h3 {
        color: #fff;
        text-align: left;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .form-content h3.form-title {
        margin-bottom: 30px;
    }

    .form-content p {
        color: #fff;
        text-align: left;
        font-size: 17px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 30px;
    }


    .form-content label,
    .was-validated .form-check-input:invalid~.form-check-label,
    .was-validated .form-check-input:valid~.form-check-label {
        color: #fff;
    }

    .form-content input[type=text],
    .form-content input[type=password],
    .form-content input[type=email],
    .form-content select {
        width: 100%;
        padding: 9px 20px;
        text-align: left;
        border: 0;
        outline: 0;
        border-radius: 6px;
        background-color: #fff;
        font-size: 15px;
        font-weight: 300;
        color: #8D8D8D;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin-top: 16px;
    }


    .btn-primary {
        background-color: #6C757D;
        outline: none;
        border: 0px;
        box-shadow: none;
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        background-color: #495056;
        outline: none !important;
        border: none !important;
        box-shadow: none;
    }

    .form-content textarea {
        position: static !important;
        width: 100%;
        padding: 8px 20px;
        border-radius: 6px;
        text-align: left;
        background-color: #fff;
        border: 0;
        font-size: 15px;
        font-weight: 300;
        color: #8D8D8D;
        outline: none;
        resize: none;
        height: 120px;
        -webkit-transition: none;
        transition: none;
        margin-bottom: 14px;
    }

    .form-content textarea:hover,
    .form-content textarea:focus {
        border: 0;
        background-color: #ebeff8;
        color: #8D8D8D;
    }

    .mv-up {
        margin-top: -9px !important;
        margin-bottom: 8px !important;
    }

    .invalid-feedback {
        color: #ff606e;
    }

    .valid-feedback {
        color: #2acc80;
    }
</style>
{% endblock css %}

<!--Content of body-->
{% block body %}
<!--including navbar-->
{% include 'components/navbar.html' %}

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Insert Item Data</h3>
                    <form method="POST" action="/dataApi/insertData" class="requires-validation" enctype="multipart/form-data" id="insertForm">
                        {% csrf_token %}

                        <div class="col-md-12">
                            <input class="form-control" type="text" name="name" id="name" placeholder="Item Name"
                                required>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" type="text" name="brand" id="brand" placeholder="brand"
                                required>
                        </div>

                        <div class="col-md-12 mt-3">
                            <input class="form-control" type="file" name="image" id="image">
                        </div>


                        <div class="col-md-12 mt-3">
                            <label class="mb-3 mr-1" for="gender">Category: </label>

                            <input type="radio" class="btn-check" name="category" id="vehical" value="vehical"
                                autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="vehical">Vehical</label>

                            <input type="radio" class="btn-check" name="category" id="clothes" value="clothes"
                                autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="clothes">Clothes</label>

                            <input type="radio" class="btn-check" name="category" id="sationary" value="stationary"
                                autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="sationary">Stationary</label>
                        </div>


                        <div class="form-button mt-3">
                            <input class="btn btn-primary" type="submit" value="Insert">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}

<!--adding JS in-->
{% block js %}
<!-- <script>
    $("#insertForm").on('submit', function (f) {
        f.preventDefault();
        form = $('#insertForm')

        // Targetting the form field to get data
        const name = document.getElementById('name').value
        const barnd = document.getElementById('brand').value
        const image = document.getElementById('image')
        const category = categoryValue()

        // FormData object to stor form data
        formData = new FormData()
        formData.append('name', name)
        formData.append('barnd', barnd)
        formData.append('image', image.files[0])
        formData.append('category', category)

        console.log(formData.get('name'))

        // Ajax to submit form
        $.ajax({
            url: "/dataApi/insertData",
            type: "POST",
            data: form.serialize(),
            success: function (responese) {
                console.log("Form is submitted successfully!")
            },
            error: function (responese) {
                console.log("unfortunetly errorhas occured!!!")
            }
        });
    })

    // Function to find the checked radio button and extract value
    function categoryValue() {
        var ele = document.getElementsByName('category');

        for (i = 0; i < ele.length; i++) {
            if (ele[i].checked) {
                return ele[i].value
            }
        }
    }
</script> -->
{% endblock js %}