<div class="container-fluid p-5">

    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Item Name</th>
            <th scope="col">Category</th>
            <th scope="col">Brand</th>
            <th scope="col">Image</th>
            <th scope="col">Update Item</th>
            <th scope="col">Detele Item</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>Scooter</td>
            <td>vehical</td>
            <td>Honda</td>
            <td>
                <a href="">View Image</a> 
            </td>
            <td>
                <button class="btn btn-sm btn-warning">Update</button>
            </td>
            <td>
                <button class="btn btn-sm btn-warning">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>